<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegularExpressionsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RegularExpressionsTool.Properties.Settings>
            <setting name="OrizinalString" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplacementString" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomButton1Value" serializeAs="String">
                <value>(?i)sample</value>
            </setting>
            <setting name="CustomButton2Value" serializeAs="String">
                <value>(?i)sam(?-i)ple</value>
            </setting>
            <setting name="CustomButton1Content" serializeAs="String">
                <value>sampleという文字列 （大文字小文字同一視）</value>
            </setting>
            <setting name="CustomButton2Content" serializeAs="String">
                <value>sampleという文字列(samは大小文字同一視、pleは小文字限定)</value>
            </setting>
            <setting name="CustomButton3Value" serializeAs="String">
                <value>[0-9]</value>
            </setting>
            <setting name="CustomButton4Value" serializeAs="String">
                <value>[^]</value>
            </setting>
            <setting name="CustomButton5Value" serializeAs="String">
                <value>[^A-Za-z_]</value>
            </setting>
            <setting name="CustomButton3Content" serializeAs="String">
                <value>0 から 9 の任意の 1 文字</value>
            </setting>
            <setting name="CustomButton5Content" serializeAs="String">
                <value>アルファベットおよびアンダースコア以外</value>
            </setting>
            <setting name="CustomButton4Content" serializeAs="String">
                <value>[^]内にない任意の 1 文字</value>
            </setting>
        </RegularExpressionsTool.Properties.Settings>
    </userSettings>
</configuration>